body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 1em 10em;
    border: 3px solid blue;
    padding: 0 2em 1em;
}

table td {
    padding-right: 20px;
    padding-left: 20px; 
    text-align: center;
}

input[type=radio] {
    border: 0px;
    width: 100%;
    height: 2em;
}

input:read-only{
    background-color: rgb(232, 232, 232);
}

table{
    margin:auto;
}

button{
    padding:10px;
    margin:4px;
}

h1{
    text-align: center;
    margin:1em auto;

}

.spacer{
    height:20px;
}

.form-table{
    margin:auto;
}

.form-table td{
    text-align:left;
}

.button-row{
    text-align:center;
    margin:auto;
    justify-content: space-between;
}

.error-msg {
    display: inline-block;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: red;
}

/* Table headers bold */
.data-table th {
    font-weight: bold;
}

/* Borders around each row */
.data-table{
    border-collapse: collapse;
}

.data-table thead th, 
.data-table tbody th, 
.data-table tbody td {
    border: 1px solid black;
    padding: 0.5em 1em;
}

/* Specific padding for td elements */
.data-table tbody td {
    padding: 0.25em 1em;
}

/* Alternate row colors */
.data-table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray */
}

.data-table tbody tr:nth-child(odd) {
    background-color: white;
}

.data-table tfoot {
    font-weight: bold;
    font-size:110%;
}

#boxCarSelectForm{
    margin:0 auto;
    text-align:center;
}

#divA {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dayDisplayDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#dayDisplayDiv button{
    background-color: rgba(96, 215, 96, 0.845);
    font-weight: bold;
    text-align: center;
    border: solid 1px black;
    border-radius: 5%;
    margin-left: 25px;
}